body {
    background: url('/index/video/8435fd2c66a8ff17d05aa5ebf674a518.mp4');
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .bgvideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
  }
  div{
    display: flex;
    justify-content: center;
    background-color: black;
}

div a{
    color: wheat;
    text-decoration: none;
}

 span{
    display: flex;
    justify-content: center;
    align-items: center;
}

div:hover{
    background-color: blue;
}